# Percona Server template configuration
#
# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

pid-file=/var/run/mysqld/mysqld.pid

long_query_time=5
slow_query_log="OFF"
slow_query_log_file = '/var/log/mysql/show_query.log'
open_files_limit = 32480
max_user_connections = 50000
max_allowed_packet = 128M
wait_timeout = 86400
interactive_timeout = 86400
mysqlx_interactive_timeout = 86400
max_connections = 50000
expire_logs_days = 5
innodb_buffer_pool_size 	= 16G
innodb_flush_log_at_trx_commit 	= 2
transaction-isolation 		= READ-COMMITTED
innodb_flush_method		= O_DIRECT

#!includedir /etc/my.cnf.d
